ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:sticky;
}

li {
    float: left;
    display:inline;

}


    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color:blue;

    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
           
        }
.active {
    background-color: blue;
}
.Games{
    
}
.game{

}
img{
    max-height:200px;
    max-width:300px;
}
    img:hover {
        box-shadow: 10px 10px 5px black;
    }
label{

}
.Shelves{
    width:1300px;
    overflow:hidden;
    display:block;
}
.shelf{
    position:relative;
    z-index:0;
    min-width:0;
    margin: 50px 200px 0;
    display:flex;
    flex-direction:row;
}
.imagedetails{
    padding:40px;
    display:flex;
    flex-direction:column;
    }
a {
    text-decoration: none;
}
a:hover{
    color:cornflowerblue;
    
}