html, body {
    height: 100%;
    margin: 0;
}

body canvas{
    background: black;
    display: flex;
    align-items: center;
    justify-content:center;
    margin:0px auto auto 550px;

}
h1 {
    font-family: BDCartoonShoutRegular;
    text-align: center;
}
canvas {
    border: 1px solid white;
}
